/homework/.angular
/homework/node_modules
/homework/.git
/homework/.vscode
/homework/.editorconfi.gitattributes
/homework/.browserlistrc
/homework/.DS_Store
/backend/node_modules
/backend/.DS_Store
homework/.DS_Store
homework/.DS_Store
.DS_Store
