.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    row-gap: 1rem;
}

@media only screen and (min-width: 800px){
    .card-container {
        width: 50vw;
        padding: 1rem;
    }
}

.line-container {
    justify-content: center;
    overflow-x: hidden;
}

.pay-form {
    width: 18rem;
}

.pay-button {
    width: 100%;
}